[Unit]
Description=Journal Remote
Requires=systemd-journal-remote.socket
ConditionHost=*.border-*

[Service]
ExecStart=/lib/systemd/systemd-journal-remote \
          --listen-http=-3 \
          --output=/var/log/journal/remote/
User=systemd-journal-remote
Group=systemd-journal-remote
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
WatchdogSec=3min

[Install]
Also=systemd-journal-remote.socket
